[Desktop Entry]
Name=Dyedfox Radio
Comment=Internet radio player
Exec=dyedfox-radio
Icon=dyedfox-radio
Terminal=false
Type=Application
StartupNotify=false
Categories=Audio;Network;Qt;
Keywords=radio;internet;streaming;music;
